body {
    display: flex;
    margin: 0px;
    background-color: #f9fafb;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .corgi {
    position: relative;
    width: 35vw;
    height: 100vh;
  }
  
  .corgi > img {
    height: 100%;
    width: 100%;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    top: 23%;
    left: 56%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 100px;
    font-weight: 600;
  }
  
  .credits {
    position: fixed;
    bottom: 10px;
    left: 12%;
    font-size: small;
    color: var(--text-color);
    z-index: 2;
  }
  
  .page {
    background-color: #e7cfc8;
  }
  
  .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    height: 200px;
    margin: 0 auto;
    width: 65vw;
  }
  
  .page-title > h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  
  .form-container {
    width: 65vw;
    display: flex;
    justify-content: center;
  }
  
  form {
    display: grid;
    gap: 20px;
    padding: 20px;
  }
  
  fieldset {
    height: 30vh;
    border: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: x-large;
    font-weight: bold;
    color: #333333;
  }
  
  .input-group:first-child {
    margin-right: 100px;
  }
  
  .input-group:last-child {
    margin-left: 100px;
  }
  
  input {
    width: 120%;
    padding: 10px;
    margin-top: 5px;
  }
  
  .button button {
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .log-in {
    font-size: x-large;
    font-weight: bold;
    color: #333333;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 63vw;
    font-size: medium;
    font-weight: bold;
    color: #333333;
  }
  